<h4 class="page-header">Products </h4>
<div class=" alert alert-success" *ngIf="addedProduct!=null && addedProduct!=''">{{addedProduct}} Added To Cart</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterText">
  </div>
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products|productFilter:filterText | slice:(pager.currentPage-1)*pager.pageSize:((pager.currentPage-1)*pager.pageSize)+pager.pageSize">
      <button (click)="AddToCart(product)" class="btn btn-xs btn-primary pull-right">
        <i class="glyphicon glyphicon-plus"></i>
        Add To Cart</button>
      <h5> <strong>{{product.productName| uppercase}}</strong></h5>
      <p>{{product.quantityPerUnit}}</p>
      <h6>{{product.unitPrice|currency:'€'}}(VAT includedv: {{product.unitPrice|vatAdded|currency:'€'}})</h6>
    </li>
  </ul>
</div>


<nav aria-label="Page Navigation">
  <ul class="pagination">
    <li *ngFor="let page of pager.pageList" [class.active]="page===pager.currentPage">
      <a style="cursor:pointer;" (click)="SetPage(page)">{{page}}</a>
    </li>
  </ul>
</nav>




